@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: "DM Serif Text", sans-serif;
}

/* nav */

#navbar {
    background-color: #fff;
}

.nav {
    width: 100%;
    justify-content: center;
}

/* main */

section {
    padding: 100px;
    background: #e9b4a3;
}

.image {
    width: 100%;
}

/* footer */

.footer {
    background-color: #fff;
    height: 50px;
    align-items: center;
    font-size: 18px;
}

.footer i {
    color: #000;
}