
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    width: 100%;
    overflow-x: hidden;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.table {
    font-family: 'PT Serif', serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* nav */

#navbar {
    background-color: #fff;
}

.nav {
    width: 100%;
    justify-content: center;
}

.head-text {
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0 10px 0;
    margin: 0;
}

.nav-menu {
    width: 100%;
    padding: 0 10px 10px 10px;
}

.menu-item {
    padding: 6px 10px;
    font-size: 18px;
    list-style: none;
}

.nav-link {
    color: #000;
    display: inline;
    transition: all .2s ease-out;
}

.nav-link:hover, .nav-link:focus {
    color: #d1a980;
    text-decoration: none;
}

ul {
    padding: 0;
}

.navbar-collapse {
    text-align: center;
    width: 100%;
}

.collapse.show {
    display: list-item;
}

.navbar-toggler {
    margin: auto;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    color: #000;
}

/* main */

.hero {
    padding: 100px;
    margin-top: 130px;
    background-image: url(https://images.unsplash.com/photo-1547105484-2871e57056f8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
}

.heading {
    padding: 50px 10px 20px 10px;
    font-weight: 700;
    margin-bottom: 40px;
    border-bottom: 1px solid #e6c092;
}

.image {
    width: 100%;
}

/* about */

.progress-section {
    padding: 10px 0 20px 0;
}

.progress {
    height: 30px;
    margin: 7px;
    font-size: 15px;
    font-weight: 300;
}

.progress-bar {
    text-align: left;
    padding-left: 7px;
    color: #fff;
    background-color: #d1a980;
}

.card {
    margin-top: 15px;
    border: none;
}

.card-title {
    margin-top: 20px;
    padding: 5px 0;
    background-color: #d1a980;
    color: #fff;
    border-radius: 5px;
}

.link {
    text-decoration: none;
    color: #b19272;
    font-size: 18px;
    transition: all .2s ease-out;
}

.link:hover, .link:focus {
    color: #d1a980;
    text-decoration: none;
}

.skill {
    color: #d1a980;
    font-size: 70px;
}

/* contact */

.form-control {
    margin: 5px 0 5px 0;
}

.button {
    background-color: #d1a980;
    color: #fff;
}

/* footer */

.footer {
    background-color: #fff;
    min-height: 50px;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    font-size: 18px;
}

.footer i {
    color: #000;
    font-size: 22px;
    padding: 10px 0 10px 0;
    transition: all .2s ease-out;
}

.footer i:hover, .footer i:focus {
    color: #d1a980;
}

/* blog */

.blog {
    margin-top: 250px;
}