@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: "DM Serif Text", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.table {
    font-family: "Roboto", sans-serif;
}

/* nav */

#navbar {
    background-color: #fff;
}

.nav {
    width: 100%;
    justify-content: center;
}

/* main */

section {
    padding: 100px;
    background: #e9b4a3;
}

.heading {
    padding: 30px 10px 10px 10px;
    border-bottom: 1px solid rgb(146, 108, 95, 0.5);
}

.image {
    width: 100%;
}

/* about */

.progress {
    height: 30px;
    margin: 7px;
    font-size: 15px;
    font-weight: 300;
}

.progress-bar {
    text-align: left;
    padding-left: 7px;
}

/* footer */

.footer {
    background-color: #fff;
    height: 50px;
    align-items: center;
    font-size: 18px;
}

.footer i {
    color: #000;
}